.ipynb_checkpoints
tarea1/data/
tarea1/Data_3/

*.ps
*.aux
*.bbl
*.blg
*.dvi
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.toc
*.vrb
*.bib

*.eps
*.svg
*.xml
.*.swp
*.un~
*~

*.o
*.tar.gz

#not ignored
#*.npy
#*.png
#*.pdf
